.main-form {
  margin: 5% 15%;
  padding: 5%;
  overflow: visible;
  margin-top: -30vh;
}

.top-ribbon {
  height: 40vh;
  background-color: #3F51B5;
	flex-shrink: 0;
}

.bag-number {
  margin-top: -20px;
}

@media (max-width: 839px) {
  .small-breakpoint {
    display: inline;
  }
  .large-breakpoint {
    display: none;
  }
}

@media (min-width: 840px) {
  .large-breakpoint {
    display: flex;
  }
  .small-breakpoint {
    display: none;
  }
}
