<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="favicon.ico" />
    <title>The NPA Coffee Form</title>

    <!--<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons"  />-->
    <!--
    Now loading inline
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.brown-green.min.css" />
    -->
    <style>
      {{style}}
    </style>
  </head>
  <body>
    <div class="top-ribbon"></div>

    <div class="main-form mdl-color--white mdl-shadow--4dp" id="main-form" onclick="totalPrice()">
      <h1>NPA Coffee Form</h1>
      <form onchange="totalPrice()" action="https://formspree.io/coffeesubmissions@redcow.club" method="POST">
        <h5>Contact Information</h5>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" name="name" id="name-input" autocomplete="name" required>
          <label class="mdl-textfield__label" for="name-input">Name</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="email" id="email-input" autocomplete="email" name="email" required>
          <label class="mdl-textfield__label" for="email-input">Email</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="tel" name="phone" id="phone-input" autocomplete="tel" required>
          <label class="mdl-textfield__label" for="phone-input">Phone number</label>
        </div>
        <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
          <input class="mdl-textfield__input" type="text" id="child-name-input" name="child-name">
          <label class="mdl-textfield__label" for="child-name-input">Child&apos;s name</label>
        </div>

        <!-- Here's the coffee ordering form part -->

        <h5>Coffee ($12)</h5>
        <div class="mdl-grid large-breakpoint">
          <div class="mdl-cell mdl-cell--2-col"></div>
          <div class="mdl-cell mdl-cell--5-col">Ground</div>
          <div class="mdl-cell mdl-cell--5-col">Whole Bean</div>
        </div>

        {% for item in coffee %}
        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">{{item.name}}</div>
          <div class="mdl-cell mdl-cell--5-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label bag-number">
              <input oninput="totalPrice()" class="mdl-textfield__input coffee-input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="{{item.simplename}}-ground" name="{{item.simplename}}-ground">
              <label class="mdl-textfield__label" for="{{item.simplename}}-ground">Number of bags<span class="small-breakpoint"> ground</span></label>
              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
          <div class="mdl-cell mdl-cell--5-col">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label bag-number">
              <input oninput="totalPrice()" class="mdl-textfield__input coffee-input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="{{item.simplename}}-whole" name="{{item.simplename}}-whole">
              <label class="mdl-textfield__label" for="{{item.simplename}}-whole">Number of bags<span class="small-breakpoint"> whole-bean</span></label>
              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
        </div>
        {% endfor %}

        <!-- Now for the mug orders -->

        <h5>Ceramic Mug ($8)</h5>

        <!-- Ceramic mug orders -->

        <div class="mdl-grid large-breakpoint">
          <div class="mdl-cell mdl-cell--2-col"></div>
          <div class="mdl-cell mdl-cell--5-col">Blue</div>
        </div>

        <div class="mdl-grid">
          <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">Ceramic Mug</div>
          <div class="mdl-cell mdl-cell--3-col mdl-cell--5-col-tablet mdl-cell--5-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label ceramic-number">
              <input oninput="totalPrice()" class="mdl-textfield__input ceramic-input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="ceramic-input" name="ceramic-input">
              <label class="mdl-textfield__label" for="ceramic-input">Number of ceramic mugs</label>
              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
        </div>

        <!-- End ceramic mugs -->

        <h5>Travel Mug ($20)</h5>

        <!-- Travel mug orders -->

        <div class="mdl-grid large-breakpoint">
          <div class="mdl-cell mdl-cell--2-col"></div>
          {% for item in travelcolors %}
          <div class="mdl-cell mdl-cell--3-col">{{item}}</div>
          {% endfor %}
        </div>

        <div class="mdl-grid">

          <div class="mdl-cell mdl-cell--2-col mdl-cell--8-col-tablet mdl-cell--4-col-phone">Travel Mug</div>

          {% for item in travelcolors %}
          <div class="mdl-cell mdl-cell--3-col mdl-cell--5-col-tablet mdl-cell--5-col-phone">
            <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label travel-number">
              <input oninput="totalPrice()" class="mdl-textfield__input travel-input" type="number" pattern="-?[0-9]*(\.[0-9]+)?" id="travel-{{item}}" name="travel-{{item}}">
              <label class="mdl-textfield__label" for="travel-{{item}}">Number of<span class="small-breakpoint"> {{item}}</span> travel mugs</label>
              <span class="mdl-textfield__error">Input is not a number!</span>
            </div>
          </div>
          {% endfor %}

        </div>

        <!-- Fairly self explanatory: Total Price -->

        <h5>Your total is: $<span id="total-dollars">0</span>.</h5>
        <h6>Cash or checks can be paid either on delivery or to the gray Parent Council box in the faculty room. Checks can be made out to "NPA Parent Council" with "Coffee fundraiser" in the memo line.</h6>

        <input type="hidden" name="_next" value="https://coffee.sgoblin.com/thanks.html" />
        <button type="submit" id="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
          Submit
        </button>
      </form>
    </div>

    <!-- Scripts -->
    <span>Analytics by <a href="https://heapanalytics.com/?utm_source=badge"><img style="width:108px;height:41px" src="https://heapanalytics.com/img/badge.png" alt="Heap | Mobile and Web Analytics" /></a></span>
    <script defer src="https://cdn.polyfill.io/v2/polyfill.min.js"></script>
    <!--<script defer src="https://code.getmdl.io/1.2.1/material.min.js"></script>-->
    <script type="text/javascript">
      //MDL JS code
      {{mdljs}}

      // Heap Analytics
      document.addEventListener("DOMContentLoaded", function(event){
        window.heap=window.heap||[],heap.load=function(e,t){window.heap.appid=e,window.heap.config=t=t||{};var r=t.forceSSL||"https:"===document.location.protocol,a=document.createElement("script");a.type="text/javascript",a.async=!0,a.src=(r?"https:":"http:")+"//cdn.heapanalytics.com/js/heap-"+e+".js";var n=document.getElementsByTagName("script")[0];n.parentNode.insertBefore(a,n);for(var o=function(e){return function(){heap.push([e].concat(Array.prototype.slice.call(arguments,0)))}},p=["addEventProperties","addUserProperties","clearEventProperties","identify","removeEventProperty","setEventProperties","track","unsetEventProperty"],c=0;c<p.length;c++)heap[p[c]]=o(p[c])};
        heap.load("4209629373");
      });
      // Calculate Price
      function totalPrice() {
        var thePrice = 0;

        var coffeeInputs = document.getElementsByClassName("coffee-input");
        Object.keys(coffeeInputs).forEach(function (key, index){
          if (coffeeInputs[index] != undefined){
            if (coffeeInputs[index].value.length > 0){
              thePrice = thePrice + parseInt(coffeeInputs[index].value)*12;
            }
          }
        });

        var ceramicInput = document.getElementById("ceramic-input");
        if (ceramicInput != undefined){
          if (ceramicInput.value.length > 0){
            thePrice = thePrice + parseInt(ceramicInput.value)*8
          }
        }

        var travelInputs = document.getElementsByClassName("travel-input");
        Object.keys(travelInputs).forEach(function (key, index){
          if (travelInputs[index] != undefined){
            if (travelInputs[index].value.length > 0){
              thePrice = thePrice + parseInt(travelInputs[index].value)*20;
            }
          }
        });

        document.getElementById("total-dollars").innerHTML = thePrice;
      };
      /*function totalPrice() {
        var theBagNumbers = document.getElementsByClassName("bag-number");
        var thePrice = 0;
        /*theBagNumbers.forEach(function (currentValue, index, array) {
          thePrice = thePrice + currentValue.firstChild.value;
        });*/
        /*for (var i = 0; i < theBagNumbers.length; i++) {
          currentBags = parseInt(theBagNumbers[i].getElementsByTagName('input')[0].value);
          console.log(currentBags);
          if (!(isNaN(currentBags))) {
            thePrice = thePrice + currentBags*12;
          } else {
            console.log("No bags!");
          }
        }
        document.getElementById("total-dollars").innerHTML = thePrice;
      };
      document.getElementById("main-form").addEventListener("click", totalPrice);
      document.getElementById("main-form").addEventListener("keypress", totalPrice);
      for (var i = 0; i < document.getElementsByClassName("bag-number").length; i++) {
        for (var z = 0; z < document.getElementsByClassName("bag-number")[i].getElementsByTagName("input").length; z++) {
          document.getElementsByClassName("bag-number")[i].getElementsByTagName("input")[z].addEventListener("keydown", totalPrice);
        };
      };
      document.addEventListener("DOMContentLoaded", totalPrice);*/
    </script>
  </body>
</html>
